/* body / generic */
/* line 2, A:/PROGRAMMING/GITHUB/community-site/sass/main.scss */
a {
  color: white; }

/* line 5, A:/PROGRAMMING/GITHUB/community-site/sass/main.scss */
.greenText {
  color: #4BF991; }

/* end body / generic */
/* landing */
/* line 13, A:/PROGRAMMING/GITHUB/community-site/sass/main.scss */
#landing {
  height: 100vh;
  background: url(../images/bg1.png) fixed;
  background-size: cover;
  background-position: center; }

/* line 19, A:/PROGRAMMING/GITHUB/community-site/sass/main.scss */
.jumbotron {
  color: white;
  background-color: transparent; }

@media screen and (max-width: 320px) {
  /* line 24, A:/PROGRAMMING/GITHUB/community-site/sass/main.scss */
  .jumbotron h1 {
    letter-spacing: 15px; } }

@media screen and (min-width: 321px) and (max-width: 768px) {
  /* line 30, A:/PROGRAMMING/GITHUB/community-site/sass/main.scss */
  .jumbotron h1 {
    letter-spacing: 25px; } }

@media screen and (min-width: 769px) {
  /* line 35, A:/PROGRAMMING/GITHUB/community-site/sass/main.scss */
  .jumbotron h1 {
    letter-spacing: 35px; } }

/* line 39, A:/PROGRAMMING/GITHUB/community-site/sass/main.scss */
.siteBtn {
  width: 200px;
  color: white;
  font-size: 1.3em;
  background-color: transparent;
  padding: 20px 15px;
  border: 1px solid #4BF991;
  border-radius: 10px; }

/* line 48, A:/PROGRAMMING/GITHUB/community-site/sass/main.scss */
.siteBtn:hover {
  transition: 0.6s;
  color: #4BF991;
  border: 1px solid white; }

/* end landing */
/* about */
/* line 57, A:/PROGRAMMING/GITHUB/community-site/sass/main.scss */
#about {
  background-color: #4BF991; }

/* end about */
/* another */
/* line 65, A:/PROGRAMMING/GITHUB/community-site/sass/main.scss */
#another {
  background-color: gray; }

/* end another */
/* navbar */
/* line 72, A:/PROGRAMMING/GITHUB/community-site/sass/main.scss */
ul.nav {
  padding-top: 30px; }

/* line 75, A:/PROGRAMMING/GITHUB/community-site/sass/main.scss */
.navbar-brand {
  height: 110px; }

/* line 78, A:/PROGRAMMING/GITHUB/community-site/sass/main.scss */
.inline {
  float: left; }

/* line 81, A:/PROGRAMMING/GITHUB/community-site/sass/main.scss */
.name {
  margin-left: 20px;
  margin-top: 17px; }

/* line 85, A:/PROGRAMMING/GITHUB/community-site/sass/main.scss */
.inline p {
  color: white; }

/* line 88, A:/PROGRAMMING/GITHUB/community-site/sass/main.scss */
.navbar-default .navbar-toggle .icon-bar {
  margin: 10px 0;
  width: 30px;
  height: 3px; }

/* line 93, A:/PROGRAMMING/GITHUB/community-site/sass/main.scss */
.navbar-toggle {
  margin-top: 20px;
  border: 0; }

/* line 97, A:/PROGRAMMING/GITHUB/community-site/sass/main.scss */
.navbar-default .navbar-nav > li > a {
  color: white; }

/* line 100, A:/PROGRAMMING/GITHUB/community-site/sass/main.scss */
.navbar-default .navbar-nav > li > a:hover {
  color: white; }

/* line 103, A:/PROGRAMMING/GITHUB/community-site/sass/main.scss */
.nav-items > li > a:active {
  border-bottom: 1.5px solid #4BF991; }

/* line 106, A:/PROGRAMMING/GITHUB/community-site/sass/main.scss */
.nav-items > li > a:hover {
  border-bottom: 1.5px solid white; }

/* line 109, A:/PROGRAMMING/GITHUB/community-site/sass/main.scss */
.navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a:hover {
  color: white; }

/* line 112, A:/PROGRAMMING/GITHUB/community-site/sass/main.scss */
.navbar-default {
  background-color: transparent;
  height: 110px;
  border: 0; }

/* line 117, A:/PROGRAMMING/GITHUB/community-site/sass/main.scss */
.navbar-default .navbar-collapse, .navbar-default .navbar-form {
  border: 0; }

/* NAVBAR HARMBURGER */
/* line 121, A:/PROGRAMMING/GITHUB/community-site/sass/main.scss */
.navbar-default .navbar-toggle .icon-bar {
  background-color: #fff; }

/* line 124, A:/PROGRAMMING/GITHUB/community-site/sass/main.scss */
.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
  background-color: transparent; }

/* line 127, A:/PROGRAMMING/GITHUB/community-site/sass/main.scss */
.navbar-toggle .icon-bar:nth-of-type(2) {
  top: 1px; }

/* line 130, A:/PROGRAMMING/GITHUB/community-site/sass/main.scss */
.navbar-toggle .icon-bar:nth-of-type(3) {
  top: 2px; }

/* line 133, A:/PROGRAMMING/GITHUB/community-site/sass/main.scss */
.navbar-toggle .icon-bar {
  position: relative;
  transition: all 500ms ease-in-out; }

/* line 137, A:/PROGRAMMING/GITHUB/community-site/sass/main.scss */
.navbar-toggle.active .icon-bar:nth-of-type(1) {
  top: 6px;
  transform: rotate(45deg); }

/* line 141, A:/PROGRAMMING/GITHUB/community-site/sass/main.scss */
.navbar-toggle.active .icon-bar:nth-of-type(2) {
  background-color: transparent; }

/* line 144, A:/PROGRAMMING/GITHUB/community-site/sass/main.scss */
.navbar-toggle.active .icon-bar:nth-of-type(3) {
  top: -6px;
  transform: rotate(-45deg); }

/* end navbar */

/*# sourceMappingURL=main.css.map */