@import "font-awesome/font-awesome";
@import "1-tools/-tools-imports";
@import "2-base/-base-imports";
@import "3-pages/-pages-imports";

.site-logo{
    height: 6em;
}
footer{
    padding-top: 20px;
    padding-bottom: 20px;
    background: #101010;
    color: white;
}
.actual{
    a{
        color: #337ab7;
    }
}

.main{
    .image-box{
        a{
            color: #337ab7;
        }
        .description{
            font-size: 1.1em;
        }
    }

    .description{
        font-size: 1.3em;
    }
    a{
        color: #337ab7;
    }
    
}

