{% extends "page.html" %}
{% block body %}
<div class="container" style="background: white;">

<div class="row" >

<div class="main col-md-10 col-sm-12">
    <!-- page-title start -->
    <!-- ================ -->
    <h1 class="page-title">Our projects</h1>
    <div class="separator-2" style="font-size: 1.1em">Here we highlight all the major projects the Python Nigeria community are a part of and supports. Please note that members who take part in these projects do so voluntarily without any remuneration. The community as a whole benefits and are proud of all the collective efforts and man hours put into such projects to make it a success fostering growth.</div>
    <!-- page-title end -->
    <p class="lead"></p>
    {% for project in this.children %}
    <div class="image-box style-3-b">
        <div class="row">            
            <div class="col-sm-12">
                <div class="body">
                    <h3 class="title"><a href="/projects/{{project._slug|url}}">{{project.name}}</a></h3>
                    <p class="small mb-10"><strong>Start Date:</strong><i class="icon-calendar"></i> {% if project.start_date %}{{project.start_date}}{% else %}To be Communicated {% endif %}
                    <div class="separator-2"></div>
                    <div class="description mb-10">{{project.description}}</div>
                    {{project.links}}
                </div>
            </div>
        </div>
    </div>    
    {% endfor %}
    <nav class="" style="margin-top: 20px">
        <ul class="hidden pagination">
            <li><a href="#" aria-label="Previous"><i class="fa fa-angle-left"></i></a></li>
            <li class="active"><a href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#">5</a></li>
            <li><a href="#" aria-label="Next"><i class="fa fa-angle-right"></i></a></li>
        </ul>
    </nav>
</div>
</div>
</div>
{% endblock body %}